[submodule "libs/PyRep"]
	path = rvt/libs/PyRep
	url = https://github.com/stepjam/PyRep.git
[submodule "libs/RLBench"]
	path = rvt/libs/RLBench
	url = https://github.com/WilliamHangXu/RLBench.git
[submodule "libs/YARR"]
	path = rvt/libs/YARR
        url = https://github.com/WilliamHangXu/YARR.git
[submodule "libs/peract"]
	path = rvt/libs/peract
        url = https://github.com/WilliamHangXu/peract.git
[submodule "libs/peract_colab/peract_colab"]
        path = rvt/libs/peract_colab/peract_colab
        url = https://github.com/WilliamHangXu/peract_colab.git
