# Copyright (c) 2022-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# Licensed under the NVIDIA Source Code License [see LICENSE for details].

**__pycache__/
/rvt/tmp/
/rvt/replay/
/rvt/data/
coppelia_install_dir/
/rvt/runs/
/cub-1.10.0/
/1.10.0.tar.gz
runs_ngc_mnt
runs_temp
*.ipynb_checkpoints/
.vscode/
build/
dist/
*.egg-info/

